.black
{
	background-color: #333;
}
.traitdroite
    {
    border-right: 1px solid white;
    }
  .textblanc
  {
  	color: white;
  	
  }
  .textnoir
  {
    olor: black;
  }
  .argent
  {
  	color: silver;
  }

  .logo
 {
  display: block; 
 	padding-right:20px;
  padding-left: 0px;
  margin-left: 0px;
 	height:150px ;
 	width:180px;
  margin-left: auto;
  margin-right: auto;

 }


 #myCarousel
 {
 	margin-top: 50px;
 }
 .yellow
 {
    background-color: #f0ad4e;
 }
  .gris
 {
    background-color: #d9534f;
 }
 h3
 {
  text-align: center;
 }
